.img-circle{
  color: #ffffff;
  border-radius: 50%;
  background: #044f9d;
  font-size: 30px;
  padding: 5px;
}

.alert-oussama{
  color: #ffffff;
  background-color: #00BCD4;
  /* border-color: #ffffff; */
  border-radius: 0px;
  font-size: 20px;
}
.alert-oussama:hover{
  cursor: pointer;
  box-shadow: 0px 1px 11px 2px #676767;
  transition: .3s;
}

.top-param{
  font-size: 30px;
}
.user-header-oussama a{
  color:white;
}

.user-header-oussama .col-md-6:hover{
  background-color:#eee;
  transition:.5s;
  cursor: pointer;
}

.param-header{
  font-size: 15px;
  text-align: center;
}
.form-group-title{
  text-align: center;
  font-size: 25px;
}

.btn {
  border-radius: 0px;
  border: 1px solid #eee;
}
.btn:hover {
  box-shadow: 0px 1px 11px 2px #676767;
  transition: .3s;
}
.alert{
  clear: both;
}

.score-info{
    margin-left: 90px;
    margin-top: 15px;
    padding: 5px;
    width: 25px;
    padding-left: 9px;
    border: 1px solid;
    border-radius: 50%;
}

.modal-T1{
  width: 45%;
  top:10%;
}

.det-prosp-soc{
  background-color: white;
  border: 1px solid #edf0f5;
  margin: 10px;
  box-shadow: 1px 1px 6px 0px #929292;
  padding: 11px;
}
.det-prosp-soc>h2>span{
  font-size: 20px;
}
.det-prosp-soc>h3>span{
  font-size: 15px;
}
.prospect-info{
  font-size: 15px;
  color: #6f6f6f;
  margin: 5px 0px;
}
.prospect-info>.fa-map-marker{
  font-size: 25px;
}
.margin-det-pros{
  margin-left: 40px;
}
textarea{
  width: 100%;
  resize: vertical;
}
hr{
  margin-top: 10px;
}
th.sub-info > span{
  color:#848484;
  font-size: 12px;
}
.text-white{
  color: white;
    font-size: 20px;
}
.btn-send{
  border-radius: 40%;
}
.btn-send:hover{
  box-shadow: 0px 1px 11px 2px #676767;
  transition: .3s;
}

.fa-check-circle{
  color: #34b534;
  font-size: 20px;
}
.label{
  font-size: 15px;
}

.logo-lg>img{
  width: 70%;
}
.logo{
  box-shadow: rgb(49, 40, 40) -1px 1px 10px 0px inset;
  background-color: #edf0f5!important;
}
.logo:hover{
  box-shadow: rgb(49, 40, 40) -1px 1px 20px 0px inset;
  transition: .8s;
}

.ouss-links{
 cursor: pointer;
}
/* END Oussama */

#showMessagesModal .row{
  margin: 0px;
}

#showMessagesModal .col-md-4{
  background: #222d32;
  padding: 0px;
}

#showMessagesModal ul{
  list-style:none;
  padding-left: initial;
  display: block;
  margin: 0px;
}

#showMessagesModal li{
    padding-left: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#showMessagesModal li:hover{
    background-color: #23527c;
}



#showMessagesModal a{
  color: #b8c7ce;
}


#showMessagesModal h4{
  margin-bottom: 0px;
}


#showMessagesModal small{
      font-size: 75%;
    padding-left: 25px;
}


/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width : initial;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #4b4b4b;
    width : initial;
}

.darker p{
  text-align: right;
  color: white;
}
.darker span{
  color: #ecf0f1;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 8%;
    margin-right: 5px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}


/* myContent for scroll*/
.myContent {
    overflow: overlay;
    height: 275px;
    padding-right: 20px;
    margin: 10px;
    /*border: #000000 1px solid;*/
}
/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}
